<h1>Edit Car</h1>

<%= simple_form_for @car, :html => { :multipart => true } do |f| %>
  <%= f.select :type_id, @carTypes %>
  <%= f.input :make, label: t('.label_make'), placeholder: t('.placeholder_make') %>
  <%= f.input :model, label: t('.label_model'), placeholder: t('.placeholder_model') %>
  <%= f.input :year, placeholder: t('.placeholder_year') %>
  <%= f.input :contact, placeholder: t('.placeholder_contact') %>
  <%= f.file_field :car_img %>
  <%= f.button :submit %>
<% end %>