<h1>Edit Car</h1>

<%= simple_form_for @car, :html => { :multipart => true } do |f| %>
  <%= f.select :type_id, @carTypes %>
  <%= f.input :make, label: 'Make', placeholder: 'Audi' %>
  <%= f.input :model, label: 'Model', placeholder: 'A5' %>
  <%= f.input :year, placeholder: '2018' %>
  <%= f.input :contact, placeholder: 'audiLtd@gmail.com' %>
  <%= f.file_field :car_img %>
  <%= f.button :submit %>
<% end %>