
<%= image_tag @car.car_img.url(:medium), class: "car-page" %>
<h1><%= @car.make %></h1>
<h2><%= @average %> </h2>
<span>Based on <%= @car.reviews.count %></span>
<h2><%= @car.model %></h2>
<h2><%= @car.year %></h2>
<h2><%= @car.contact %></h2>


<% if user_signed_in? && @car.user_id == current_user.id %> 
<div>
<%= link_to 'Edit', edit_car_path(@car) %>
</div>
<%= link_to 'Delete', car_path(@car), method: :delete %>

<div>
<%= link_to 'Add Review', new_car_review_path(@car) %>
</div>

<% end %>

<%= render @car.reviews %>

<%= link_to 'Back', root_path %>