<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      
      <div class="navbar-header">
        <%= link_to 'Cars', root_path, class: 'navbar-brand' %>
      </div>

      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to "Add Car", new_car_path %></li>
        <% end %>

        <li class="dropdown">
          <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Type
           <span class="caret"></span>
         </a>
         <ul class="dropdown-menu" role="menu">
          <li><%= link_to 'All', cars_path %></li>
          <li class="divider"></li>
          <% Type.all.each do |type| %>
          <li>
            <%= link_to type.name, cars_path(type: type.name) %>
            <li class="divider"></li>
          </li>
          <% end %>
         </ul>
        </li>




      </ul>


      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>  
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>

      </ul>



    </nav>






    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
